* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: #00000;
	padding: 10px 0;
	position: fixed;
  font-size: 1.25em;
  color: #fffff;
	left: 0;
	right: 0;
}

html, body, article, figure {
}

header nav ul li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.938em;;
	font-weight: bold;
}

.container {
	display:inline-block;
}

.hero-image-section {
	background-image: url("../images/astronomy.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 200px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 2.250em;
	color: white;
	text-align: center;
  text-shadow: 1px 1px 1px grey;
}

.hero-image-section img {
  height: 700px;
  width: 850px;
	border: 15px solid white;
  max-width: 100%;
}

.hero-image-section h1 {
  color: #ff00a9
}

.hero-image-section h2, p {
	font-size: 1em;
}

.box {
	height: 100px;
	width: 100%;
	background-color: beige;
	border-style: solid;
}

.box h2, p {
	color: black;
}

.gray-box {
	background-color: gray;
	color: black;
}

.white-box {
	background:-color: white;
}

.title {
	padding-top: 2%;
	position:absolute;
}

.second-page h2 {
  color: #9933ff;
  text-align: center;
}

.second-page p {
  color: #00000;
  text-align:center;
}

.second-page img {
  box-shadow: beige;
  max-width: 100%;
}

.bc-hist {
  background-color: beige;
}

.third-page {
  background-color: pink;
	max-width: 100%;

}

.third-page p {
  text-align: center;
}

a.button {
	border-style: solid;
	border-color: #9933FF;
	border-width: thick;
	color: white;
	font-size:.5em;
}

.contact {
  background-color: lightblue;
}

.fourth-page img {
	border: 6px dotted black;
  max-width: 100%;
	margin: 5% 5% 5% 5%;
}

.wrapper {
	display: inline-block;
	margin:auto;
	transform: translate(-50%,50%);
	background-color: rgba(0,0,0,0.7);
	border: 4px solid pink;
	width:100%;
	height:auto;
	padding:5% 5% 5% 5%;
	margin:2% 2% 10% 50%;
	color:#fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.wrapper h1 {
	display:inline;
}

.auto-input::after {
	content: '_';
	animation: blink 0.4s infinite;
}

.typed cursor
{
	   display: none;
}

footer {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	color: blue;
}

@keyframes blink {
	0%{opacity:1;}
	100%{opacity: 0;}
}
